<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>My Secure Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Secure Blog!</h1>
        <p>Security should be built into applications from the very start, not added at the end. 
            This blog is a space to demonstrate how simple web apps can be made more secure using 
            DevSecOps practices.</p>
        <p>If you’re new to this field, think of each example here as a building block showing how 
            development, security, and operations work together to protect modern applications.</p>
        <p>Visit my blog page for more details and content at 
            <a href="https://iammandla.hashnode.dev/" target="_blank">https://iammandla.hashnode.dev/</a> </p>
        </div>
</body>
</html>